<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客编辑</title>
</head>
<body>
<h3>hahahhhahhh</h3>
<script>
    // //添加编辑事件
    // $('.patch').on('click', function(){
    //     var patch_id = $(this).attr('data');
    //     var patch_url = "http://127.0.0.1:8000/v1/topics/"+ blog_username + "?" + 't_id=' + patch_id;
    //     $.ajax({
    //         // 请求方式
    //         type:"patch",
    //         url: patch_url,
    //         beforeSend: function(request) {
    //             request.setRequestHeader("Authorization", token);
    //         },
    //         success:function (result) {
    //             if (200 == result.code){
    //
    //                alert('编辑成功');
    //                window.location.reload()
    //
    //             }else{
    //
    //                alert('编辑失败');
    //
    //             }
    //         }
    //
    //     })
    // });
</script>
</body>
</html>